<div class="container">
  <h1><%=@article.title%></h1>

  <form method="get" action="/category/<%=@category.id%>/articles/<%= @article.id %>/edit">
    <button type="submit">Edit</button>
  </form><br>

  <div><%=@article.price%></div>
  <div><%=@article.description%></div>
  <div><%=@article.email%></div>

  <form method="post" action="/category/<%=@category.id%>/articles/<%= @article.id %>">
    <input name="_method" type="hidden" value="delete" />
    <input type="submit" value="Delete">
  </form>
</div>
